@import "../node_modules/angular-material/angular-material.css";
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,400italic);
body {
  font-family: 'Vollkorn', serif;
  padding-top: 5px;
  font-size: 17px;
  margin-left: 5%;
  width: 90%;
}
line,
path {
  pointer-events: none;
}
.axis path.domain {
  display: none;
}
rect.background {
  fill: url(#myTexture);
}
foreign-object {
  pointer-events: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Vollkorn';
  font-weight: 300;
}
.axis path,
.axis line {
  fill: none;
  stroke: white;
}
.axis text {
  font-size: 14px;
  font-style: italic;
}
.axis g.tick line {
  stroke-width: 1.3px;
  stroke-dasharray: 2, 1.6;
}
.fun {
  stroke-width: 1.5px;
  fill: none;
}
line.time-line {
  stroke-width: 3px;
  stroke: #616161;
  opacity: .5;
}
.target {
  opacity: 0.6;
}
[design-b-der] path.target {
  stroke: #01579b;
}
[design-a-der] path.target {
  stroke: #880e4f;
}
.correct {
  stroke: #fbc02d;
}
.tri {
  stroke-width: 1.3px;
  fill: #66bb6a;
  fill-opacity: .1;
  stroke: #81c784;
  stroke-dasharray: 2, 2;
  stroke-linecap: round;
}
.v {
  stroke: #e91e63;
}
.dv {
  stroke: #03a9f4;
}
.point.v {
  fill: #e91e63;
}
.point.dv {
  fill: #03a9f4;
}
.fake {
  fill: #e91e63;
}
.real {
  fill: #880e4f;
}
.tri.dv {
  marker-end: url(#arrow);
}
#arrow {
  fill: #03a9f4;
  stroke: white;
  stroke-width: 1px;
}
#arrow2 {
  fill: #e91e63;
  stroke: white;
  stroke-width: 1px;
}
line.zero-line {
  stroke-width: 2px;
  stroke-dasharray: none;
  stroke: white;
}
line.zero-line.correct {
  stroke: #fbc02d;
}
circle.dot {
  stroke: white;
  stroke-width: 1px;
}
circle.dot.small {
  stroke-width: 1.6px;
}
[design-b-der] circle.dot.small {
  fill: #039be5;
}
[design-a-der] circle.dot.small {
  pointer-events: none;
  fill: #d81b60;
}
circle.dot.large {
  fill: #c2185b;
  fill-opacity: 0.14;
  stroke-opacity: .6;
  stroke-width: .4;
  cursor: pointer;
}
circle.dot.dv {
  fill: #0288d1;
}
circle.point {
  stroke: white;
  stroke-width: 1.5px;
}
#quote {
  border-left: 4px solid #ccc;
  margin-left: -15px;
  padding: 33px;
  padding-bottom: 25px;
  border-radius: 2px;
  padding-top: 4px;
  background-color: #F7F7F7;
  margin-bottom: 20px;
}
#quote p {
  font-size: 20px;
}
#barzun {
  text-align: right;
  font-weight: 300;
}
.title {
  text-align: center;
}
.subtitle {
  text-align: center;
  border-top: solid 1px rgba(0, 0, 0, 0.2);
}
.myButton {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
svg.topChart {
  height: 250px;
}
svg.bottomChart {
  height: 250px;
}
text.label {
  text-anchor: middle;
  dominant-baseline: central;
}
text.tri-label {
  font-size: 15px;
}
em {
  font-weight: 500;
  font-style: italic;
}
rect.cart {
  fill: #e91e63;
}
.hide {
  opacity: 0;
}
[plot-b-der] h3,
[plot-a-der] h3 {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 0px;
}
span.col {
  padding: 1.3px 2px 1.3px 2px;
  border-radius: 2px;
}
span.v {
  background-color: rgba(233, 30, 99, 0.3);
}
span.dv {
  background-color: rgba(3, 169, 244, 0.4);
}
span.tri {
  background-color: rgba(76, 175, 80, 0.4);
}
[design-cart-a-der] .carBody {
  fill: #e91e63;
}
[design-cart-b-der] .carBody {
  fill: #880e4f;
}
