@import "../node_modules/angular-material/angular-material.css";
@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,300,500);
body {
  font-family: 'Roboto', serif;
  padding-top: 5px;
  font-size: 16px;
  padding-left: 10%;
  width: 70%;
  max-width: 800px;
  min-width: 400px;
}
#quote {
  border-left: 1px solid #999;
  margin-left: 25px;
  padding: 15px;
  padding-left: 25px;
  background-color: #eeeeee;
}
h1,
h2,
h3,
h4,
h5,
button,
text {
  font-weight: 100;
}
p {
  line-height: 1.55em;
}
line,
path {
  pointer-events: none;
}
.fun {
  stroke-width: 1.5px;
  fill: none;
}
path.target {
  stroke: #4caf50;
}
.v {
  stroke: #e91e63;
}
.dv {
  stroke: #03a9f4;
}
path.tri {
  stroke-width: 1.3px;
  fill: none;
  opacity: .9;
  stroke: #bdbdbd;
  stroke-dasharray: 1,2;
  stroke-linecap: round;
}
circle.dot {
  stroke: white;
  stroke-width: 1px;
}
circle.dot.small {
  pointer-events: none;
  fill: #c2185b;
  stroke-width: 1px;
}
circle.dot.large {
  fill: #e0e0e0;
  opacity: 0.6;
  stroke-width: .4
	cursor: pointer;
}
circle.dot.dv {
  fill: #0288d1;
}
.axis path,
.axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}
.axis g.tick line {
  stroke-width: 1px;
  stroke-dasharray: 2, 2, 3;
  stroke-linecap: round;
  opacity: .9;
}
rect.cart {
  fill: #e91e63;
}
rect.background {
  fill: #eee;
}
line.zero-line {
  stroke-width: 2px;
  stroke-dasharray: none;
  stroke: white;
}
circle.point {
  stroke: white;
  fill: #c2185b;
  opacity: .95;
  stroke-width: 1.5px;
}
.axis path.domain {
  display: none;
}
g.hide {
  opacity: 0;
}
