@import "../node_modules/angular-material/angular-material.css";
@import "../bower_components/material-color/material-color";
@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,300,500);
body {
    font-family:'Roboto', serif;
    padding-top: 5px;
    font-size: 16px;
    padding-left: 10%;
    width: 70%;
    max-width: 800px;
    min-width: 400px;
}

#quote{
	border-left: 1px solid #999;
	margin-left: 25px;
	padding: 15px;
	padding-left: 25px;
	background-color: #eee
}

h1, h2, h3, h4, h5, button, text {
  // font-family: 'Roboto';
  font-weight: 100;
}

p{
    line-height: 1.55em;
}

line, path{
	pointer-events: none;
}

.fun{
    stroke-width: 1.5px;
    fill: none;
}

path.target{
    stroke: @clr-green-500;
}

.v{
    stroke: @clr-pink-500;
}

.dv{
    stroke: @clr-light-blue-500;
}

path.tri{
    stroke-width: 1.3px;
    fill: none;
    opacity: .9;
    stroke: @clr-grey-400;
    stroke-dasharray: 1,2;
    stroke-linecap: round;
}

circle.dot{
	stroke: white;
	stroke-width: 1px;	
}

circle.dot.small {
	pointer-events: none;
	fill: @clr-pink-700;
	stroke-width: 1px;
}
circle.dot.large{
	fill: @clr-grey-300;
	opacity: 0.6;
	stroke-width: .4
	cursor: pointer;
}

circle.dot.dv{
	fill: @clr-light-blue-700;
}

.axis path, .axis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}

.axis g.tick line {
    stroke-width: 1px;
    stroke-dasharray: 2, 2, 3;
    stroke-linecap: round;
    opacity: .9;
}

rect.cart{
    fill: @clr-pink-500;
}

rect.background{
    fill: #eee;
}

line.zero-line{
    stroke-width: 2px;
    stroke-dasharray: none;
    stroke: white;
}

circle.point{
    stroke: white;
    fill: @clr-pink-700;
    opacity: .95;
    stroke-width: 1.5px;
}

.axis path.domain {
    display: none;
}

g.hide{
    opacity: 0;
}