@import "../node_modules/angular-material/angular-material.css";
@import "../bower_components/material-color/material-color";
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,400italic);
body {
    font-family: 'Vollkorn', serif;
    padding-top: 5px;
    font-size: 18px;
    padding-left: 10%;
    width: 90%;
    max-width: 1080px;
    min-width: 400px;
}

// ======== boilerplate =========
line,
path {
    pointer-events: none;
}

.axis path.domain {
    display: none;
}

rect.background {
    fill: url(#myTexture);
}

foreign-object {
    pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
button,
{
    font-family: 'Vollkorn';
    font-weight: 300;
}

p {
    font-weight: 400;
    line-height: 1.35em;
}

.axis path,
.axis line {
    fill: none;
    stroke: white;
    // shape-rendering: crispEdges;
}

.axis text {
    // font-family: 'PT Serif', serif;    // font-style: italic;
    font-size: 14px;
    font-style: italic;
    // font-weight: 100;
}

svg g.main{
    opacity: .95;
}

.axis g.tick line {
    stroke-width: 1.3px;
    stroke-dasharray: 2, 2;
    shape-rendering: crispEdges;
    stroke-linecap: round;
    opacity: .9;
}

// ========= lines ==========
.fun {
    stroke-width: 1.5px;
    fill: none;
}

.target{
    opacity: .6
}
[design-b-der] path.target{
    stroke: @clr-light-blue-900;
    // opacity: .9;
}

[design-a-der] path.target{
    stroke: @clr-pink-900;
    // opacity: .9;
}

.correct {
    stroke: @clr-yellow-700;
}

.tri {
    stroke-width: 1.3px;
    fill: none;
    opacity: 1;
    stroke: @clr-green-400;
    stroke-dasharray: 2, 2;
    stroke-linecap: round;
}

.v {
    stroke: @clr-pink-500;
}

.dv {
    stroke: @clr-light-blue-500;
}

.point.v {
    fill: @clr-pink-500;
}

.point.dv {
    fill: @clr-light-blue-500;
}

.tri.dv {
    marker-end: url(#arrow);
}


[design-b-der] .tri.dv{
    marker-end: none;
}

#arrow{
    fill: @clr-light-blue-500;
    stroke: white;
    stroke-width: 1px;
}
#arrow2{
    fill: @clr-pink-500;
    stroke: white;
    stroke-width: 1px;
}

line.zero-line {
    stroke-width: 2px;
    stroke-dasharray: none;
    stroke: white;
}

line.zero-line.correct {
    stroke: @clr-yellow-700;
}

// ============ dots
circle.dot {
    stroke: white;
    stroke-width: 1px;
}

circle.dot.small{
    stroke-width: 1.6px;
}

[design-b-der] circle.dot.small {
    fill: @clr-light-blue-700;
}

[design-a-der] circle.dot.small {
    pointer-events: none;
    fill: @clr-pink-700;
}

circle.dot.large {
    fill: @clr-pink-700;
    fill-opacity: 0.1;
    stroke-opacity: .6;
    stroke-width: .4;
    cursor: pointer;
}

circle.dot.dv {
    fill: @clr-light-blue-700;
}

circle.point {
    stroke: white;
    opacity: .95;
    stroke-width: 1.5px;
}

// ========= QUOTE ========
#quote {
    border-left: 4px solid #ccc;
    margin-left: -15px;
    padding: 33px;
    padding-bottom: 25px;
    border-radius: 2px;
    padding-top: 4px;
    background-color: #F7F7F7;
    margin-bottom: 20px;
}

#quote p {
    font-size: 20px;
}

#barzun {
    text-align: right;
    font-weight: 300;
}

// ==== OTHER =======

svg.topChart{
    height: 250px;
}
svg.bottomChart{
    height: 275px;
}

text.label {
    text-anchor: middle;
    dominant-baseline: central;
}

text.tri-label {
    font-size: 15px;
}

em {
    font-weight: 500;
    font-style: italic;
}

rect.cart {
    fill: @clr-pink-500;
}

.hide {
    opacity: 0;
}

[plot-b-der] h3,
[plot-a-der] h3 {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0px;
}

span.col {
    padding: 3px 4px 3px 3px;
    border-radius: 2px;
}

span.v {
    background-color: fade(@clr-pink-500, 30%);
}

span.dv {
    background-color: fade(@clr-light-blue-500, 40%);
}
