
h1(style='font-size: 48px; margin-top: 15px; margin-bottom: 0px; font-weight: 500;') WHAT'S THE DIFFERENCE?
h3(style='margin-top: 9px;') differential equations explained

#header
	#quote
		p 
			| With nothing to see except a blackboard strewn with differential equations, the educated man with an informed interest in science melted away.
		#barzun
			| &mdash; Jacques Barzun,  
			em
				| The Use and Abuse of Art

texture-der

#content(layout='column' )
	div(flex layout='column')
		div(flex layout='row' layout-align='start center')
			div(flex='50')
				p
					| You're probably used to equations like $$ 5(t-.5)(t-1)(t-2)^2 = 0,$$ where 'solving' means finding an unknown <em>number</em>. To solve for $t$, we can plot the left-hand-side as a function <span class='col v'>$y(t)$</span> and look for $y(t)=0$.
				p

					| A differential equation (DE), by contrast, concerns an unknown  <em>function</em>. It gives you a clue &mdash; a fact about a derivative &mdash; and you find a function that fits the clue.
			div(flex offset='5' regular-der)

		div(flex style='background-color: #F7F7F7; border-radius: 3px; margin-bottom: 10px;')
			h2(style='text-align:center') ORIGINAL $\sin(t)$

		div(flex layout='row' layout-align='start center')
			div(flex='50')
				p
					| Scroll over the plot of <span class='col v'>$\sin(t)$ </span>to the right. To see the derivative of a function, we can draw a right triangle whose hypoteneuse is tangent to (i.e., barely grazes) it. If the  triangle's width is $1$, its <span class='col dv'>height</span> is the derivative.
			div(flex offset='5' derivative-der)
		div(flex layout='row' layout-align='start center')
			div(flex='50')
				p
					| Using that one weird trick, you can see that the derivative of <span class='col v'>$\sin(t)$</span> is <span class='col dv'>$\cos(t)$</span>. Therefore, $y(t)=\sin(t)$ is a solution to the DE $$ \dot y = \cos(t).$$ 
			div(flex offset='5'  derivative-b-der)

	div(flex style='background-color: #F7F7F7; border-radius: 3px; margin-bottom: 15px;')
		h2(style='text-align:center') PICTURE ME ROLLING
	
	div(flex layout='row' layout-align='start center')
		div(flex='50')
			p
				| Now consider a cart rolling to a stop. The cart's motion obeys the DE $$ \dot{v} = -k \cdot v, $$ where $v$ is velocity, $\dot{v}$ is the rate-of-change of velocity (how fast it slows down) and $k$ is a 'coefficient of friction' that depends on how greased the axels are. The faster the cart goes, the more it slows down.
		div(flex offset='5' )
			div(cart-sim-der )
			div(cart-buttons-der )

	div(flex layout='row' layout-align='start center')
		div(flex='50')
			p
				|  The solution is a function $v(t)$ giving the cart's velocity at time $t$. We'll assume that $k=.8$ and also that the cart starts out rolling at time $t=0$ with velocity $2$. So the two clues we have are $\dot{v}= -.8v$ and $v(0)=2$.
			p
				| It turns the exponential function, $e^{-kt}$, has the convenient properties $$ \begin{align} \frac{d}{dt}e^{-kt}=-ke^{-kt} && e^{-.8\cdot 0}=1.\end{align}$$ Thus, if $v(t)=2e^{-.8t}$, then $\dot{v}=-.8v$ and $v(0)=2$, as required!
		div(flex offset='5')
			div(cart-plot-der)

	div(flex style='background-color: #F7F7F7; border-radius: 3px; margin-bottom: 15px;')
		h2(style='text-align:center') 'CART'-OGRAPHY

	div(flex layout='row' layout-align='start center')
		div(flex='50')
			p
				| Here, you'll solve the cart's DE manually by designing your own function $v(t)$. To do that, click and drag the right plot to make time/velocity points like $\left( t, v \right)$. Together, they make a function $v(t)$. The first point, $(0,2)$ is fixed. You're given the real answer $v(t)=2e^{-.8t}$.
		div(design-a-der flex offset='5')
	div(flex layout='row'  layout-align='start center')
		div(flex='50' layout='column')
			div(flex)
				p 
					| For each point, we can store the value $v(t)$ and the derivative $\dot {v}(t)$ as a pair $( v, \dot{v})$. Those pairs get plotted on the right. Notice that if you draw the $v(t)$ correctly, then the $(v, \dot {v})$ points will all wind up around the line $\dot{v} = -v$.
			div(flex design-cart-a-der)
			div(flex design-cart-b-der)
		div(flex design-b-der offset='5')
	div(flex design-buttons-der)
